service: rol-church

frameworkVersion: '3'

provider:
  name: aws
  region: us-east-1
  stage: ${opt:stage, 'dev'}

custom:
  siteName: rol.church
  devDomain: dev.rol.church
  prodDomain: rol.church

  # S3 bucket names
  devBucket: dev-rol-church-website
  prodBucket: rol-church-website

  # CloudFront settings per stage
  stages:
    dev:
      bucket: ${self:custom.devBucket}
      domain: ${self:custom.devDomain}
    prod:
      bucket: ${self:custom.prodBucket}
      domain: ${self:custom.prodDomain}

resources:
  Conditions:
    IsDev:
      Fn::Equals:
        - ${self:provider.stage}
        - dev
    IsProd:
      Fn::Equals:
        - ${self:provider.stage}
        - prod

  Resources:
    # S3 Bucket for website hosting
    WebsiteBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.stages.${self:provider.stage}.bucket}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: 404.html

    # Bucket policy to allow CloudFront access
    WebsiteBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref WebsiteBucket
        PolicyDocument:
          Statement:
            - Sid: AllowCloudFrontAccess
              Effect: Allow
              Principal:
                Service: cloudfront.amazonaws.com
              Action: s3:GetObject
              Resource: !Sub '${WebsiteBucket.Arn}/*'
              Condition:
                StringEquals:
                  AWS:SourceArn: !Sub 'arn:aws:cloudfront::${AWS::AccountId}:distribution/${CloudFrontDistribution}'

    # CloudFront Origin Access Control
    CloudFrontOAC:
      Type: AWS::CloudFront::OriginAccessControl
      Properties:
        OriginAccessControlConfig:
          Name: ${self:service}-${self:provider.stage}-oac
          OriginAccessControlOriginType: s3
          SigningBehavior: always
          SigningProtocol: sigv4

    # CloudFront Distribution
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Enabled: true
          HttpVersion: http2and3
          DefaultRootObject: index.html
          PriceClass: PriceClass_100
          Aliases:
            - ${self:custom.stages.${self:provider.stage}.domain}
          ViewerCertificate:
            AcmCertificateArn: ${env:ACM_CERTIFICATE_ARN}
            SslSupportMethod: sni-only
            MinimumProtocolVersion: TLSv1.2_2021
          Origins:
            - Id: S3Origin
              DomainName: !GetAtt WebsiteBucket.RegionalDomainName
              S3OriginConfig:
                OriginAccessIdentity: ''
              OriginAccessControlId: !GetAtt CloudFrontOAC.Id
          DefaultCacheBehavior:
            TargetOriginId: S3Origin
            ViewerProtocolPolicy: redirect-to-https
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
            CachedMethods:
              - GET
              - HEAD
            Compress: true
            CachePolicyId: 658327ea-f89d-4fab-a63d-7e88639e58f6  # CachingOptimized
            ResponseHeadersPolicyId: 67f7725c-6f97-4210-82d7-5512b31e9d03  # SecurityHeadersPolicy
          CustomErrorResponses:
            - ErrorCode: 404
              ResponseCode: 404
              ResponsePagePath: /404.html
            - ErrorCode: 403
              ResponseCode: 404
              ResponsePagePath: /404.html

  Outputs:
    WebsiteBucketName:
      Value: !Ref WebsiteBucket
      Description: Name of the S3 bucket
    CloudFrontDistributionId:
      Value: !Ref CloudFrontDistribution
      Description: CloudFront Distribution ID
    CloudFrontDomainName:
      Value: !GetAtt CloudFrontDistribution.DomainName
      Description: CloudFront Distribution Domain Name

plugins:
  - serverless-s3-sync

# Note: You'll need to manually:
# 1. Create an ACM certificate for *.rol.church and rol.church in us-east-1
# 2. Add the ACM_CERTIFICATE_ARN to your GitHub secrets
# 3. Update your DNS to point dev.rol.church and rol.church to CloudFront
